<div class="row " style="background-image:url(../../assets/instructions1.jpg); background-repeat: no-repeat; background-size: cover;">
    <div class="row ">
        <div class="col-4"></div>
        <div class=" rounded col-8 text-light bg-dark" style="font-family: serif; padding:10% 10% 10% 10% ; box-shadow: 0px 0px 10px 10px #333333;">
            <div class="row">
                <h3>Instructions:-</h3>
            </div>
            <h3>
                <br> 1) Total Number of questions: 15 <br> 2) Each question consist of 4 MCQ's.<br> 3) Out of 4 options only one is correct.<br> 4) Total time allocated for this test is 20 mins.<br> 5) You are not allowed to change tab during test, otherwise
                the test will be closed.<br> 6) You must have front web-cam on during the test, otherwise the test will be closed.<br> 7) You cannot go back to previous question.<br>
                <br>
            </h3>
            <div class="row btn btn-success " (click)="goToTest();">Start test</div>
        </div>
    </div>
</div>